body{
    background-image:url(glenn-carstens-peters-203007-unsplash.jpg);
    background-size:cover;  
    font-family: sans-serif;
}
.contain{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
table{
    display: flex;
    border-radius: 100px;
    border-collapse: collapse;
}
th{
    width: 300px;
}
.butt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #2ECC71;
    font-size: 20px;
}
.stop{
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #E74C3C;
    font-size: 20px;
}
.clear{
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #F1C40F;
    font-size: 20px;
}
.white-text{
    color: white;
}
.blue-text{
    color: blue;
}